.search-content{
    color:white;
    background: black;
}

#appbar{
    color:white !important;
    background: black !important ;
}
/* .row{
    margin-right: 0 !important;
} */

ion-icon {
    color: white;
}
.icon-delete{
    position: absolute;
    background: #ea2727;
    border-radius: 3px;
}